#root {
  max-width: 1200px;
  min-width: 800px;
  margin: auto;
}

.navBar {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  padding: 1rem;
}

.addTodo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: #eeeeee;
  padding: 1rem;
}

.title,
.comment {
  width: 14rem;
  margin: 0 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.add {
  margin-right: 1rem;
  border: none;
  outline: none;
  color: white;
  background-color: #008081;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}
